<footer>
    <h1>Lorem ipsum dolor sit.</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex labore sequi aspernatur magni dignissimos modi esse, sint facilis, dicta ipsa eveniet repudiandae provident deserunt assumenda. Optio atque temporibus aperiam. Iusto tempora dolor ea nulla alias corporis eveniet! Omnis, commodi tempora.</p>
</footer>